#container{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: black;
    color: white;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#main{
    text-align: center;
}
#question{
    background-color: grey;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
}
#question1{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question2{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question3{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question4{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question5{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question6{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question7{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question8{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question9{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question10{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question11{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question12{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }
  #question13{
    display: hide;
    position: relative;
    padding-right: 20%;
    text-align: center;;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 25px;
  }